<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Auto Parts Browser</a>
        </div>
        <div class="navbar-inverse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/models"><img height="25" src="https://img.icons8.com/fluent/48/000000/wrench--v2.png" alt="Shop"/></a></li>
                <li routerLinkActive="active"><a routerLink="/cart"><img height="25" src="https://img.icons8.com/fluent/48/000000/shopping-cart.png" alt="Cart"/><span matBadgeColor="accent" matBadge="{{total}}" matBadgePosition="after" matBadgeOverlap="true"></span></a></li>
            </ul>
            <div class="nav navbar-nav navbar-right">
                <img height="50" src="https://img.icons8.com/color/64/000000/car-service.png"/>
            </div>
        </div>
    </div>
</nav>
<a hidden href="https://icons8.com/icon/8chNl15hy6jY/shopping-cart">Shopping Cart icon by Icons8</a>
<a hidden href="https://icons8.com/icon/mxEs2oDvSlJn/wrench">Wrench icon by Icons8</a>