<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li
            class="list-group-item"
            *ngFor="let partElement of parts">
            <h4>{{partElement.partName}}</h4>
            <p><em>"{{partElement.partManufacturer}}"</em></p> 
            <p>${{partElement.partPrice}}</p>
            <div class="row">
                <div class="col-xs-12">
                    <div 
                    class="btn-group"
                    appDropdown>
                        <button 
                            type="button"
                            class="btn btn-primary dropdown-toggle">
                            Part Options <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="part-option-hover" style="cursor: pointer;">Add to cart</a></li>
                            <li><a class="part-option-hover" style="cursor: pointer;">Edit Part</a></li>
                            <li><a class="part-option-hover" style="cursor: pointer;" (click)="deletePart(partElement.partId); refresh()">Delete Part</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        </ul>
    </div>
</div>
