<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Part Name</th>
                        <th scope="col">Manufacturer</th>
                        <th scope="col">Price</th>
                        <th scope="col">Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let partElement of parts | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                        <td>{{ partElement.partName }}</td>
                        <td>{{ partElement.partManufacturer }}</td>
                        <td>${{ partElement.partPrice }}</td>
                        <td>
                            <div 
                            class="btn-group"
                            appDropdown>
                                <button 
                                    type="button"
                                    class="btn btn-primary dropdown-toggle">
                                    Part Options <span class="caret"></span>
                                </button>
                            <ul class="dropdown-menu">
                                <li><a class="part-option-hover" style="cursor: pointer;" (click)="onAddToCart(partElement); refresh()">Add to cart</a></li>
                                <li><a class="part-option-hover" style="cursor: pointer;" (click)="onShowEdit(partElement.partId)">Edit Price</a></li>
                                <li><a class="part-option-hover" style="cursor: pointer;" (click)="deletePart(partElement.partId); refresh()">Delete Part</a></li>
                            </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <form (ngSubmit)="onSubmit(f); refresh()" #f="ngForm">
                <div style="width: 50%;" class="form-group" *ngIf="showEdit">
                    <label for="price">Price</label>
                    <input
                        type="number"
                        id="price"
                        class="form-control"
                        style="width: 50%; margin: 2px;"
                        min="1"
                        step="any"
                        ngModel
                        name="price"
                        placeholder="Part Price"
                        autofocus
                        required>
                    <input class="btn btn-success" type="submit" value="Change">
                    <a style="cursor: pointer; margin-left: 15px;" (click)="onResetEditStatus()"><img width="25" height="25" src="https://img.icons8.com/ios/50/000000/xbox-x.png"/></a>
                </div>
            </form>
            <ngb-pagination
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="parts.length"
        ></ngb-pagination>
        </div>
    </div>
</div>
